body {
  font-family: "Montserrat", sans-serif;
  background: #efefef;
  
}
th{
  font-size: 14px;
}

.hero{
  background: url('/assets/hero-web.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* search field and effect on hover */
.search-field {
  position: relative;
  border-radius: 25px;
  box-shadow: -2px 2px rgb(94,94,94),
    2px -2px rgb(94, 94, 94);
  padding: 4px 0px;
  padding-left: 15px;
  display: flex;
  background-color:rgba(255, 255, 255, 0.479);
  backdrop-filter: blur(10);
  z-index: 1;
  overflow: hidden;
}
.search-field:before {
  position: absolute;
  content: '';
  height: 100%;
  border-radius: 25px;
  border: none;
  width: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  background: linear-gradient(90deg, #feffb8d2,#daff8abe);
  /* background: linear-gradient(90deg, #ffb1a3d2,#daff8abe); */
  transition: all .6s;
}
.search-field:hover::before{
  left: 0%;
}
.search-field:hover #input-field{
  letter-spacing: .5px;
}

#input-field{
  border: none;
  background: transparent;
  transition: all .6s;
}
#input-field:focus {
  outline: none;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border: none;
  display:block;
  border-radius: 50px;
}

/* single product card */
.single-product {
  padding: 10px;
  transition: 0.6s;
  border-radius: 8px;
  box-shadow: 2px -2px 8px #A39393;
  background: white;

}
.single-product:hover {
  box-shadow: -2px -2px 8px #83A38C;
}
.single-product:hover  .product-image{
  transform: scale(1.05);
}
.single-product-info{
  position: relative;
  top: 0;
}
.product-image {
  width: 200px;
  height: 200px;
  transition: all 1s;
}

/* buttons on cards and cart */
.custom-btn{
  position: relative;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: .3px;
  padding: 5px 15px;
  outline: none;
  border: none;
  transition: all .3s;
  overflow: hidden;
}
.custom-btn.add-btn{
  background: rgb(250, 252, 136);
}
.custom-btn.buy-now{
  background: rgb(255, 131, 100);
}
.custom-btn.details{
  background: #97c4ff; 
}
.custom-btn:hover{
  transform: scale(1.1);
}
.custom-btn:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  background: white;
  background: rgb(255, 255, 255);
  top: -100%;
  left: 0%;
  border-radius: 5px;
  z-index: -1;
  transition: all .3s;
}
.custom-btn:hover::before{
  top:100%;
}
.cart {
  border: 2px solid rgb(63, 0, 122);
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(251, 255, 197, 0.404);
  backdrop-filter: blur(2px);
  top: 40%;
  position: fixed;
}

/* responsive */
@media only screen and (max-width: 992px) {
  .hero{
    background: url('/assets/hero-mobile.png');
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 768px) {
  .product-image {
    width: 150px;
    height: 150px;
  }
  .cart {
    position: initial;
  }
}
@media only screen and (max-width: 600px) {
  .hero{
    background: url('/assets/hero-sm.png');
  }
}
