body {
  font-family: "Montserrat", sans-serif;
  background: #f6ffd0;
  background: #fff2de;
  
}
main{
  margin-top: 50px;
}
th{
  font-size: 14px;
}
/* search field and effect on hover */
.search-field {
  position: relative;
  border-radius: 25px;
  box-shadow: -2px 2px rgb(146 , 146, 146),
    2px -2px rgb(146, 146, 146);
  padding: 4px 15px;
  display: flex;
  /* background:#edceff; */
  z-index: 1;
  overflow: hidden;
}
.search-field:before {
  position: absolute;
  content: '';
  height: 100%;
  border-radius: 25px;
  border: none;
  width: 100%;
  top: 0;
  left: -100%;
  z-index: -1;
  /* background: linear-gradient(90deg, #fff7ad,rgb(203, 252, 157)); */
  background: linear-gradient(90deg, #fff7ad,rgb(252, 208, 157));
  transition: all .6s;
}
.search-field:hover::before{
  left: 0%;
}
.search-field:hover #input-field{
  letter-spacing: .5px;
}

#input-field{
  border: none;
  background: transparent;
  transition: all .6s;
}
#input-field:focus {
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  display:block;
  border-radius: 25px;
}

/* single product card */
.single-product {
  padding: 10px;
  transition: 0.6s;
  border-radius: 8px;
  box-shadow: 1px -1px 4px rgb(105, 87, 64);
  background: white;

}
.single-product:hover {
  box-shadow: -2px -2px 8px rgb(110, 32, 30);
}
.single-product-info{
  position: relative;
  top: 0;
}
.product-image {
  width: 200px;
  height: 200px;
}

/* buttons on cards and cart */
.custom-btn{
  position: relative;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: .3px;
  padding: 5px 15px;
  outline: none;
  border: none;
  transition: all .5s;
  overflow: hidden;
}
.custom-btn.buy-now{
  background: rgb(255, 148, 129);
}
.custom-btn.details{
  background: rgb(131, 117, 255); 
}
.custom-btn:hover{
  transform: scale(1.1);
}
.custom-btn:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: white;
  top: -100%;
  left: 0%;
  border-radius: 5px;
  transition: all .1s;
  z-index: -1;
}
.custom-btn:hover::before{
  top:100%;
}
.cart {
  border: 2px solid rgb(63, 0, 122);
  padding: 10px;
  border-radius: 5px;
  position: fixed;
}

/* responsive */
@media only screen and (max-width: 768px) {
  .product-image {
    width: 150px;
    height: 150px;
  }
  .cart {
    position: initial;
  }
}
